@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #2b5eb0;
    font-family: 'Arvo'
}

header {
    background-color: #2b5eb0;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.search input {
    border: 0;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 20px;
}

.search button {
    cursor: pointer;
    margin-left: 7px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.search button:hover {
    background-color: #2b5eb0;
    box-shadow: 0 0 10px #0c0c0c;
    transform: scale(1.15);
}

.search button img {
    width: 30px;
}

.weatherInfo {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    padding: 50px;
    background-image: linear-gradient(to bottom, #5580c1, #7ea6e0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    color: #fff;
}


#weatherIcon {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.weatherInfo h1 {
    font-size: 60px;
    margin: 0;
    text-shadow: 1px 1px #4e4949;
}

.weatherInfo h3 {
    opacity: 0.7;
    margin: 0;
    color: #6a5acd;
    text-shadow: 1px 1px #555;
}

.details {
    display: flex;
    padding: 30px 230px;
    margin-top: 50px;
    margin-left: -70px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.detail {
    display: flex;
    margin: 10px;
}

.humidity, .wind, .pressure {
    font-size: 20px;
    margin-top: -10px;
    margin: 0;
}

.details-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
  }