@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #141414;
    font-family: 'Arvo'
}

header {
    background-color: #4286f4;
    color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}

.search {
    margin-top: 10px;
    text-align: center;
}
.search input {
    border: 0;
    padding: 20px 35px;
    border-radius: 30px;
    font-size: 15px;
}

.search button {
    border: 0;
    outline: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    vertical-align: middle;
}

.search button img {
    width: 40px;
}

.weatherInfo {
    width: 90%;
    max-width: 550px;
    margin: 40px auto 0;
    padding: 60px 120px;
    background: linear-gradient(100deg, #00feba, #281e6e);
    border-radius: 20px;
    text-align: center;
}


.weather-icon {
    width: 140px;
    height: 140px;
    margin-top: -40px;
}

.weatherInfo h1 {
    font-size: 60px;
}

.weatherInfo h2 {
    font-size: 30px;
}

.weatherInfo button {
    border: 0;
    outline: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    vertical-align: middle;
}

.weatherInfo button img {
    width: 40px;
}

.details {
    display: flex;
    padding: 30px 230px;
    margin-top: 50px;
    margin-left: -70px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.detail {
    display: flex;
    margin: 10px;
}

.humidity, .wind, .pressure {
    font-size: 20px;
    margin-top: -10px;
    margin: 0;
}

.details-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
  }